.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.7490196078);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.2705882353);
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7490196078);
}

.hidden {
  display: none;
}

.header {
  display: flex;
  margin-top: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #565656;
}
.header .create-event-btn {
  margin: 0 30px 0 3%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-right: 16px;
  box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.7490196078);
  cursor: pointer;
}
.header .create-event-btn-plus {
  margin-right: 10px;
}

.navigation__today-btn {
  padding: 10px;
  box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.7490196078);
}
.navigation__nav-icon {
  margin-left: 14px;
}
.navigation__displayed-month {
  margin-left: 28px;
  font-size: 24px;
}

.icon-button-left {
  margin-left: 34px;
}

.calendar {
  overflow-y: scroll;
  width: 100%;
  z-index: 3;
}
.calendar__header {
  display: flex;
  align-items: end;
  position: fixed;
  width: 100%;
  height: 98px;
  padding-left: 51px;
  background-color: #fff;
  z-index: 11;
}
.calendar__body {
  position: relative;
  top: 121px;
}
.calendar__week-decoration {
  display: flex;
  position: fixed;
  top: 160px;
  width: 100%;
  height: 25px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5019607843);
  z-index: 3;
}
.calendar__week-decoration-slot {
  font-size: 12px;
  border: 0.5px solid #565656;
  border-top: none;
  border-right: none;
  display: flex;
  align-items: end;
  width: 100%;
}
.calendar__week-decoration-slot:first-child {
  width: 51px;
  min-width: 51px;
  border-left: none;
}
.calendar__week-container {
  display: flex;
  top: 184px;
  width: 100%;
}
.calendar__time-scale {
  margin-top: 8px;
  padding: 0 8px;
  min-width: 51px;
}
.calendar__day-label {
  color: #565656;
  text-align: center;
}
.calendar__week {
  display: flex;
  width: 100%;
}
.calendar__day {
  width: 100%;
}
.calendar__time-slot {
  position: relative;
  height: 60px;
  border: 0.5px solid #565656;
  border-top: none;
  border-right: none;
}
.calendar__time-slot:first-child {
  border-top: 0.5px solid #565656;
}
.calendar__time-slot:hover {
  background-color: rgba(39, 227, 230, 0.2);
}

.current-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: -5px;
  z-index: 10;
  margin: 0;
  margin-top: -3px;
}

.current-time__circle {
  width: 11px;
  height: 10px;
  border-radius: 100%;
  background-color: #ff0000;
}

.current-time__line {
  height: 2px;
  width: 100%;
  background-color: #ff0000;
}

.day-label {
  width: 14.3%;
}
.day-label__day-number {
  padding-top: 8px;
  height: 50px;
  width: 50px;
  margin: 4px 0;
  font-size: 32px;
  display: inline-block;
}
.day-label__day-name {
  display: block;
}

.today-name {
  color: #208ce4;
  background-color: transparent;
}

.today-number {
  border-radius: 100%;
  background-color: #208ce4;
  color: #fff;
  position: relative;
  z-index: 88;
}

.time-slot {
  display: flex;
  align-items: end;
  height: 60px;
}
.time-slot__time {
  font-size: 14px;
}

.create-event {
  text-align: right;
}
.create-event__close-btn {
  transform: rotate(45deg);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.create-event-btn__icon {
  margin-right: 8px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.event-form__field {
  text-align: left;
  border: 0;
  margin-bottom: 80px;
}
.event-form__field-title {
  width: 88%;
  border: solid #208ce4;
  border-width: 0 0 2px 0;
  margin-bottom: 70px;
}
.event-form__time-icon {
  margin-right: 20px;
}
.event-form__burger {
  position: absolute;
  margin-top: 6px;
}
.event-form__burger-menu {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #000;
  margin-bottom: 4px;
}
.event-form__burger-menu-bottom {
  width: 12px;
}
.event-form__textarea {
  width: 90%;
}
.event-form__submit-btn {
  background-color: #208ce4;
  border: 0;
  padding: 6px 22px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.event {
  width: 95%;
  position: absolute;
  background-color: #208ce4;
  border-radius: 8px;
  color: #fff;
  overflow-y: auto;
  word-wrap: break-word;
  z-index: 1;
  padding-left: 8px;
  cursor: pointer;
}
.event__title {
  padding: 4px 0;
  font-weight: 700;
}
.event__time {
  font-weight: 300;
  margin-bottom: 8px;
}

.popup__btn {
  width: 96px;
  display: flex;
  align-items: baseline;
  text-align: start;
  background-color: transparent;
  margin-top: 8px;
  border-color: #208ce4;
  cursor: pointer;
}
.popup__btn-description {
  margin: 0;
  margin-left: 14px;
}
.popup__btn:hover {
  background-color: rgba(39, 227, 230, 0.2);
}

.edit__event-btn {
  margin-top: 0;
}

.events__colors {
  display: none;
  width: 110px;
  height: 130px;
  position: absolute;
  overflow: auto;
  z-index: 22;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7490196078);
  border-radius: 8px;
}
.events__colors-list {
  list-style: none;
  padding: 0;
  padding: 0 4px;
}
.events__colors-list-item {
  margin-bottom: 8px;
  padding: 2px;
  cursor: pointer;
}
.events__colors-list-item:hover {
  background-color: rgba(39, 227, 230, 0.2);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
