.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.2705882353);
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

.header {
  display: flex;
  margin-top: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #565656;
}
.header .create-event-btn {
  margin: 0 30px 0 3%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-right: 16px;
  box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.75);
}
.header .create-event-btn-plus {
  margin-right: 10px;
}

.navigation__today-btn {
  padding: 10px;
  box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.75);
}
.navigation__nav-icon {
  margin-left: 14px;
}
.navigation__displayed-month {
  margin-left: 28px;
}

.icon-button-left {
  margin-left: 34px;
}

.fixed-header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 77;
}

.calendar {
  padding: 20px 0;
}
.calendar__header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #fff;
  padding-left: 4.5%;
  z-index: 3;
}
.calendar__time-scale {
  position: absolute;
  top: 20.1%;
  left: 1%;
}
.calendar__day-label {
  color: #565656;
  text-align: center;
}
.calendar__week {
  display: flex;
  width: 95.5%;
  position: absolute;
  top: 19%;
  left: 4.5%;
}
.calendar__day {
  width: 14.3%;
}
.calendar__time-slot {
  position: relative;
  height: 60px;
  border: solid #565656;
  border-width: 0 1px 1px 0;
}

.current-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: 10;
  margin: 0;
  margin-top: -3px;
}

.current-time__circle {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50px;
  background-color: red;
}

.current-time__rectangle {
  height: 2px;
  width: calc((100vw - 76px) / 7 - 5px);
  border: none;
  background-color: red;
}

.day-label {
  width: 14.3%;
}
.day-label__day-number {
  padding-top: 2px;
  height: 40px;
  width: 40px;
  margin-top: 8px;
  font-size: 32px;
  display: inline-block;
}
.day-label__day-name {
  display: block;
}

.today-name {
  color: #4169e1;
  background-color: transparent;
}

.today-number {
  border-radius: 100%;
  background-color: #4169e1;
  color: #fff;
}

.time-slot {
  display: flex;
  align-items: end;
  height: 60px;
}
.time-slot__time {
  font-size: 15px;
}

.line-time {
  color: #ff0000;
  width: 98%;
  height: 1px;
  display: inline-block;
  position: absolute;
}

.create-event {
  text-align: right;
}
.create-event__close-btn {
  transform: rotate(45deg);
  background-color: transparent;
  border: 0;
}
.create-event-btn__icon {
  margin-right: 8px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.event-form__field {
  text-align: left;
  border: 0;
  margin-bottom: 80px;
}
.event-form__field-title {
  width: 88%;
  border: solid #4169e1;
  border-width: 0 0 2px 0;
  margin-bottom: 70px;
}
.event-form__time-icon {
  margin-right: 20px;
}
.event-form__burger {
  position: absolute;
  margin-top: 6px;
}
.event-form__burger-menu {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #000;
  margin-bottom: 4px;
}
.event-form__burger-menu-bottom {
  width: 12px;
}
.event-form__textarea {
  width: 90%;
}
.event-form__submit-btn {
  background-color: #4169e1;
  border: 0;
  padding: 6px 22px;
  color: #fff;
  border-radius: 4px;
}

.event {
  width: 95%;
  position: absolute;
  background-color: #4169e1;
  border-radius: 8px;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}
.event__title {
  padding: 8px;
}
.event__time {
  font-weight: 300;
  padding-left: 8px;
}

.delete-event-btn {
  background-color: transparent;
  border: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
