// стили сетки календаря и заголовка календаря с днями недели
.calendar {
  padding: $unit * 10 0;
  &__header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 4.5%;
    z-index: 1;
  }

  &__time-scale {
    position: absolute;
    top: 18.3%;
    left: 1%;
  }

  &__day-label {
    color: $color-text-dark-grey;
    text-align: center;
  }

  &__week {
    display: flex;
    width: 97%;
    position: absolute;
    top: 17%;
    left: 4.5%;
  }
  &__day {
    width: 14.3%;
  }
  &__time-slot {
    position: relative;
    height: $unit * 30;
    width: 100%;
    border: solid $color-text-dark-grey;
    border-width: 0 1px 1px 0;
  }
}
.day-label {
  width: 14.3%;
  &__day-number {
    padding-top: $unit;
    height: $unit * 20;
    width: $unit * 20;
    margin-top: $unit * 4;
    font-size: $unit * 16;
    display: inline-block;
  }

  &__day-name {
    display: block;
  }
}
.today-name {
  color: $color-light-blue;
  background-color: transparent;
}
.today-number {
  border-radius: 100%;
  background-color: $color-light-blue;
  color: $color-text-white;
}
