.header {
  display: flex;
  margin-top: $unit * 7;
  padding-bottom: $unit * 4;
  border-bottom: 1px solid $color-text-dark-grey;

  .create-event-btn {
    margin: 0 $unit * 15 0 3%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-right: $unit * 8;
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.75);

    &-plus {
      margin-right: $unit * 5;
    }
  }
}

.navigation {
  &__today-btn {
    padding: $unit * 5;
    box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.75);
  }
  &__nav-icon {
    margin-left: $unit * 7;
  }
  &__displayed-month {
    margin-left: $unit * 14;
  }
}
.icon-button-left {
  margin-left: $unit * 17;
}
