.time-slot {
  display: flex;
  align-items: end;
  height: 60px;

  &__time {
    font-size: 15px;
  }
}

.line-time {
  color: #ff0000;
  width: 98%;
  height: 1px;
  display: inline-block;
  position: absolute;
}
