$unit: 2px;

$color-text-dark-grey: #565656;
$color-text-white: #fff;

$color-light-blue: #208ce4;
$color-black: #000;
$color-red: #ff0000;
$color-grey: #ccc;

$color-transparent-ocean: #27e3e633;
$color-transparent-grey: #cccccc45;
